In [1]:
import mysql.connector
import pandas as pd
import numpy as np

In [3]:
cnx=mysql.connector.connect(host="127.0.0.1",
                            port=3306,
                            user="root",
                            password="",
                            database="py_test_db")

cur=cnx.cursor()

In [4]:
q1 = 'create  view faculty as select ID, name, dept_name from instructor_lab4'
cur.execute(q1)