In [1]:
import mysql.connector
import pandas as pd

In [3]:
cnx=mysql.connector.connect(host="127.0.0.1",
                            port=3306,
                            user="root",
                            password="",
                            database="py_test_db")

In [4]:
cur=cnx.cursor(buffered=True)

In [5]:
query = '''CREATE FUNCTION calculate_question1_salary(jan_salary DECIMAL(10,2), feb_salary DECIMAL(10,2), mar_salary DECIMAL(10,2))
RETURNS DECIMAL(10,2)
BEGIN
    DECLARE q1_salary DECIMAL(10,2);
    SET q1_salary = jan_salary + feb_salary + mar_salary;
    RETURN q1_salary;
END;'''
cur.execute(query)