In [1]:
import mysql.connector
import pandas as pd

In [3]:
cnx=mysql.connector.connect(host="127.0.0.1",
                            port=3306,
                            user="root",
                            password="",
                            database="py_test_db")

In [4]:
cur=cnx.cursor(buffered=True)

In [5]:
query = '''CREATE FUNCTION calculate_question1_salary(jan_salary DECIMAL(10,2), feb_salary DECIMAL(10,2), mar_salary DECIMAL(10,2))
RETURNS DECIMAL(10,2)
BEGIN
    DECLARE q1_salary DECIMAL(10,2);
    SET q1_salary = jan_salary + feb_salary + mar_salary;
    RETURN q1_salary;
END;'''
cur.execute(query)

In [8]:
query1='''SELECT calculate_question1_salary(1000,2000, 3000) AS q1_salary;'''
cur.execute(query1)
result = cur.fetchall()
for row in result:
    print(row)

(Decimal('6000.00'),)

In [9]:
c=cur.execute('''CREATE TABLE instructor5 (
    ID INT,
    name VARCHAR(255),
    dept_name VARCHAR(255),
    salary INT,
    age INT
);''')

c=cur.execute('''INSERT INTO instructor5 (ID, name, dept_name, salary, age) VALUES
    (10101,'Srinivasan','Comp. Sci.',65000, 34),
    (12121,'Wu','Finance',90000, 38),
    (15151,'Mozart','Music',40000, 45),
    (22222,'Einstein','Physics',95000, 55);''')

In [10]:
q5='''CREATE FUNCTION is_eligible_for_sabbatical(age INT)
RETURNS BOOLEAN
BEGIN
    IF age > 40 THEN
        RETURN TRUE;
    ELSE
        RETURN FALSE;
    END IF;
END;'''
cur.execute(q5)

In [14]:
q5='''SELECT is_eligible_for_sabbatical(45);'''
cur.execute(q5)
result = cur.fetchall()
for row in result:
    print(row)

(1,)